html, body {
    text-align: center;
}

body{
    /*background-color: palegreen;*/

    /*background: url("john3.jpeg") no-repeat;*/
    background-image: url("/images/Gym.jpg");
    background-size:100% 100vh;
    background-repeat:no-repeat;


}
@media (min-width: 992px) {
    .navbar {
        height:30px;
    }
}
.nav-link{
    color: ghostwhite;
    font-size: 20px;
    font-family:"Lucida Grande","monospace";
}

.jumbotron{
    margin-top: 25px;
    background-color: transparent;
    color: aliceblue;
}

.pic{
    margin-top: 55px;
}

/*<div style="overflow-y: scroll; height:400px;">*/

.searchContainer{
    overflow-y: scroll;
    height: 300px;
    width: 150px;
    border: 1px solid black;
    align-content: center;
    float: left;

}

.searchItem{
    overflow-y: scroll;
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: lightgray;
    border: 1px solid black;
    box-shadow: inset darkblue 3px 3px 3px;
    text-align: center;
    height: 2em;
}

.builder{
    float: left;
    margin-left: 50px;
    height: 450px;
    width: 300px;
    border: 3px solid black;
    overflow-y: scroll;

}

.buildItem{
    width: 300px;
    background-color: gray;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid black;
    height: 2em;
    font-size: 1.5em;
}

.setForm{
    float: left;
}

.setForm ul{
    list-style: none;
}

.setForm ul li{
    float: left;
}

.setForm input{
    border: none;
}

.setFormItems {
    height: 1.5em;
    width: 1em;
    margin-left: 1.5em;
    margin-right: 1em;
    background-color: gray;
}

.setFormItemsBig {
    height: 1.5em;
    width: 2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    background-color: gray;
}


