

body{
    background-color: white;
    z-index: 1;

    /*background: url("john3.jpeg") no-repeat;*/
    /*background-image: url("/images/Gym.jpg");*/
    /*background-size:100% 100vh;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/



}


.plannerContainer{
    width: 85%;
    margin-left: 15%;
    margin-top: 5%;
    min-height: 100%;
    padding: 0.5em;
    background-color: whitesmoke;
    height: 500px;

}

.dayHeader{
    width: 100%;
    text-align: center;
    font-family: "Lucida Grande", "monospace";
    font-size: 1.5em;
    color: darkblue;
    border-bottom: 1px solid gray;
    height: 1.5em;
    padding-top: 0.2em;
}

.dayHeader h1{
    color: darkblue;
}
/*@media (min-width: 992px) {*/
    /*.navbar {*/
        /*height:30px;*/
    /*}*/
/*}*/
.nav-link{
    color: black;
    font-size: 20px;
    font-family:"Lucida Grande","monospace";
}

.card-link{
    color: black;
    font-size: 28px;
    font-family:"Lucida Grande","monospace";
}

/*.jumbotron{*/
    /*margin-top: 25px;*/
    /*background-color: transparent;*/
    /*color: aliceblue;*/
/*}*/

/*.pic{*/
    /*margin-top: 30px;*/
/*}*/

/*<div style="overflow-y: scroll; height:400px;">*/

.searchContainer{
    height: 300px;
    width: 250px;
    border: 1px solid gray;
    align-content: center;
    float: left;
    padding: 0;
    margin-left: 3%;
}

.scrollable{
    overflow-y: scroll;
    height: 270px;

}

.searchItem{
    width: 250px;
    margin-top: 0.5em;
    margin-bottom: 0;
    background-color: #7aa983;
    border: 1px solid black;
    text-align: left;
    height: 1.5em;
    padding: 0.1em;
}

.searchItem h3{
    font-size: 1em;
    float: left;
    text-align: center;
    margin-left: 1em;
}
.searchItem p {
    font-size: 0.8em;
    color: #55775C;
    text-align: right;
    margin-right: 0.5em;
}

.builder{
    float: left;
    margin-left: 3%;
    height: 350px;
    width: 450px;
    border: inset 2px black;
    overflow-y: scroll;
}

.logger{
    float: left;
    margin-left: 28.5%;
    height: 350px;
    width: 450px;
    border: 1px solid black;
    overflow-y: scroll;
}

.buildItem{
    background-color: #55775C;

    width: 400px;
    margin: 0;
    height: 39px;
    float: left;
    font-size: 1.5em;
    text-align: center;
    padding-top: 0.3em;
    padding-left: 50px;
    border-bottom: 1px solid black;

}



.buildDrop{
    width: 448px;
    background-color: #7aa983;
    margin:0;


}

.tempHolder {
    width: 100%;
    padding: 0.5em;
    float: left;
    background-color: #7aa983;
    height: 38px;
}

.tempHolder h5{
    width: 170px;
    overflow-x: scroll;
    margin-right: 10px;
    float: left;
}

.tempHolder input{
    margin-top: 0;
}

.buildDrop ul{
    list-style: none;
    width: 448px;
    background-color: #7aa983;
    padding: 0;

}

.buildDrop ul li{
    width: 150px;
    float: left;
    padding: 0;
}

.buildDrop input[type=text]{
    background-color: #95d0a0;
    border-color: #95d0a0;
    width: 40px;
    text-align: center;
}

.dropBtn{
    width: 48px;
    background-image: url("images/drop.png");
    height: 39px;
    background-size: 45px;
    background-color: #55775C;
    display: inline-block;
    float: left;
    border-bottom: 1px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #55775C;
}

.dropBtnSave{
    background-image: url("images/save.svg");
    height: 1.3em;
    width: 1.4em;
    background-size: 1.4em;
    background-color: #7aa983;
    display: inline-block;
    margin-top: 5px;
    float: left;
    border: none;
    margin-right: 20px;
}

.dropBtnEdit{
    background-image: url("images/edit.svg");
    height: 1.3em;
    width: 1.4em;
    background-size: 1.4em;
    background-color: #7aa983;
    display: inline-block;
    margin-top: 5px;
    float: left;
    border: none;
    margin-right: 20px;


}

.dropBtnDel{
    background-image: url("images/delete.png");
    height: 1.3em;
    width: 1.4em;
    margin-left: 10px;

    background-size: 1.4em;
    background-color: #7aa983;
    display: inline-block;
    margin-top: 5px;
    float: left;
    border: none;
    margin-right: 20px;


}

.dropBtnCopy{
    background: url("images/copy.png");
    height: 1.3em;
    width: 1.4em;

    background-size: 1.4em;
    background-color: #7aa983;
    display: inline-block;
    margin-top: 5px;
    float: left;
    border: none;


}

.searchBar{
    width: 248px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 20px;
    border-bottom: 1px silver;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . . ." ". . . ." ". . . coach";
}



#tagline{
    margin-bottom: 40px;
}





#standards{
    color: black;
}
/* general styles */
html, body {
    height: 100%;
    width: 100%;
}
/* padded section */
.pad-section {
    padding: 50px 0;
}
.pad-section img {
    width: 100%;
}
/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    /*vertical-align: middle;*/
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
/* additional sections */
#home {
    background: url(/images/workout2.jpg) no-repeat center center fixed;
    display: table;
    height: 50%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#about {
}
#services {
    background-color: #ffffff;
    color: #306d9f;

}
#services .iconz {
    border: 2px solid #306d9f;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    vertical-align: middle;
    width: 140px;
}
#information {
    background: url(/images/Gym.jpg) no-repeat center center fixed;
    display: table;
    height: 50%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #306d9f;
}
#information .panel {
    opacity: 0.85;
}

#coach{
    background-color: lightgrey;
}

.testimonial {
    display: table-cell;
    vertical-align: middle;
}
#logo{
    height: auto;
    width: 200px;
}

.headline{
    color: #ffffff;
}
/*client progress*/

 /*body {*/
     /*font-size: .875rem;*/
 /*}*/

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-x: hidden;
    text-align:left;
    width: 175px;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: 2rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #55775C;
}



.sidebar .nav-link {
    font-weight: 500;

}

.sidebar .nav-link .feather {
    margin-right: 5px;
    color: #999;
}

.sidebar .nav-link.active {
    color: greenyellow;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: greenyellow;

}
.sidebar .anchors:hover{
    color: initial;

}

.sidebar-heading {
    font-size: .25rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
/*#myChart{*/
    /*width: 150%;*/
    /*height: auto;*/
/*}*/

.calenderModel{
    width: 422px;
    max-height: 275px;
    overflow-y: scroll;
    border: 1px solid black;
    position: absolute;
    background-color: lightblue;
    z-index: 2;
    display: none;
    margin: 10% 10% 10% 33.5%;
}

.day{
    float: left;
    height: 60px;
    width: 60px;
    border: 1px solid black;
    text-align: left;
}

.day input{
    border: none;
    padding-bottom: 35px;
    padding-right:40px;
    height: 58px;
    width: 58px;

}

.sideBarButtons{
    border: none;
    background-color: #55775C;
    font-size: 15px;
    cursor: pointer;

}

.nav-link{
    margin: 0px;
}

.loginbox{
    border-radius: 25px;
    width: 320px;
    height: 380px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

.registerbox{
    border-radius: 25px;
    width: 320px;
    height: 600px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

.coachregisterbox{
    border-radius: 25px;
    width: 320px;
    height: 500px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.editbox{
    border-radius: 25px;
    width: 500px;
    height: 600px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

.registerbody{
    width: 320px;
    height: 380px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 80px 30px;

}

.editbody{
    width: 320px;
    height: 380px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 80px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    left: calc(50% - 50px);
}

.logintitle{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.coachregisterbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.editbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}

.coachregisterbox input{
    width: 100%;
    margin-bottom: 20px;
}

.editbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.registerbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.coachregisterbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.editbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background: #46bf44;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.registerbox input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background: #46bf44;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.coachregisterbox input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background: #46bf44;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.editbox input[type="submit"]{
    border:none;
    outline: none;
    height: 40px;
    background: #46bf44;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.registerbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.coachregisterbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.editbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbody{
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("images/weights1.jpg") center;
    font-family: sans-serif;
}

.registerbody{
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("images/weights1.jpg") center;
    font-family: sans-serif;
}

.editbody{
    margin: 0;
    padding: 0;
    background-size: cover;
    background: url("images/weights1.jpg") center;
    font-family: sans-serif;
}

.loginbody a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.registerbody a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.editbody a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

textarea{
    resize: none;
}



dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*html,body{*/
    /*text-align: center;*/

/*}*/

/*.container {*/
    /*max-width: 960px;*/
/*}*/

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }


.profileBody{
    background: ghostwhite;
    width: 100%;
    padding: 0;
    border-left: 0.1em solid darkblue;
    border-right: 0.1em solid darkblue;
}

.profileBox{
    border: 0.1em solid black;
    border-radius: 5%;
    background-color: #9ae2ff;
    color: darkblue;
    margin-left: 5.6%;
    opacity: 0.65;
    margin-bottom: 5%;
}

.profileBox:hover{
    opacity: 1.0;
}


.sidems{
    padding-bottom: 15px;
}
.anchors {
    padding-left: 22px;
}


.container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 150px;
}

nav {
    background: #333B34;
    color: #72CCAA;
    padding: 10px 0;
    position: relative;
}

nav::after {
    content: '';
    clear: both;
    display: block;
}

.logo {
    float: left;
    font-size: 2rem;
    margin: 7px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 25px;
}

.logo span {
    font-weight: 400;
}

.site-nav {
    position: absolute;
    top: 100%;
    right: 0%;
    background: #464655;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
    /*   display: none; */
}

.site-nav--open {
    clip-path: circle(250% at top right);
    /*   display: block; */
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: #EBEBD3;
    display: block;
    padding: 2em 4em 2em 1.5em;
    text-transform: uppercase;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background: #E4B363;
    color: #464655;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255,255,255,.4);
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #EBEBD3;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    opacity: 0;
}

.open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}

@media (min-width: 700px) {

    .menu-toggle {
        display: none;
    }

    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        clip-path: initial;
    }

    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 5px;
        margin-left: 3em;
        margin-right: 25px
    }

    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }

    .site-nav--icon {
        display: none;
    }

}

body {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}



.sidebar {
    list-style-type:none;
//background-color:#333;

    top:0;
    float:left;
    bottom:0;
    left:0;
    text-align:left;
//position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    transition:1s ease;
}

.sidebar a {
    text-decoration:none;
    color:black;
    transition:1s ease;
}

.sidebar li {
    text-indent: 2px;
    line-height: 40px;
    transition:0.5s ease;

}

.sidebar li:hover {
    color:white;
    background-color:green;
    cursor:pointer;
    text-indent: 3px;

}
.sidebar li:hover a{
    color:white;
}
.sidebar li span{
    color:green;
}
.sidebar li .glyphicon-off{
    color:black;
}
.sidebar li:hover span{
    color:white;
}


.wrapper {
    position: relative;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
}
.box {
    background: blue;
}
p {
//padding-left: 50px;
}
@media only screen and (max-width: 989px) {
    .sidebar{
        width:100%;
        margin:0 auto;
        text-align:center;
    }
}
.underlinename{
    border-bottom: 3px solid black;
    max-width: 100%;

}





.card {
    width: 275px;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    white-space: nowrap;
}
.cardimg {
}

.cardcontent {
    height: 39%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
}

.cardcontent {
    font-size: 0.8em;
}
.cardfooter {
    height: 12%;
    background: rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cardbutton {
    background: lightgreen;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(232px, 128px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbutton i {
    color: white;
    transform: translateY(-2px);
}

.cardbutton:hover {
    background: cyan;
}
.cardfooter h3 {
    font-size: 0.8em;
    margin-top: 10px;
}
.cardreadme {
    color: rgb(150, 150, 150);
}
.cardcontent p:nth-child(1) {
    font-size: 0.8em;
}
.cardcontent h3 {
    font-size: 1.4em;
}
.cardcontent p:nth-child(2) {
    font-size: 0.9em;
}


.profileBox h5 {
    height: 50px;
    width: 100%;
    background-color: lightskyblue;
    border-bottom: 0.1em solid black;
    padding: 0.5em;
}

.profileBox h5:hover {
    height: 75px;

}

