<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<body>

<div th:replace="partials/profilenavbar :: profilenavbar"></div>
<div th:replace="partials/sidebar :: sidebar"></div>
<input th:value="${selectId}" id="selector" type="hidden"/>
<h1>Coach Dashboard</h1>
<div class="container-fluid" style="align-content: center">
    <div class="row">
    <div class="col">
        <form class="form-group" th:action="@{/client_profile_page/create_program}" method="get">
            <button type="submit" class="btn btn-primary btn-block btn-md" id="createplan" name="createplan">Create a program
            </button>
        </form>
        <form th:action="@{/change_program}" method="post">
            <label for="exampleFormControlSelect3">Programs</label>
            <select id="exampleFormControlSelect3"  name="program"
                    onchange="this.form.submit()" style="text-align: center" >
                <option value="nochange" disabled="disabled" selected="selected" id="programSelector">
                    Programs
                </option>
                <div th:each="program : ${programs}">
                    <option th:value="${program.id}" th:text="${program.name}">
                    </option>
                </div>
            </select>
        </form>
    </div>
        <div class="col">
            <h4><span class="text-muted">Client Requests</span></h4>



            <ul th:each="client : ${clientRequests}" class="list-group mb-3">

 <form th:action="@{/coach_approval}" method="post">
     <li th:value="${client.id}" th:text="${client.username}" class="list-group-item d-flex justify-content-between lh-condensed"></li>
                <input type="hidden" th:value="${client.username}" name="user" />
    <input value="ACCEPT" type="submit" name="choice"/>
 </form>
                <form th:action="@{/coach_reject}" method="post">
                    <input type="hidden" th:value="${client.username}" name="user" />
                    <input value="REJECT" type="submit" name="choice"/>
                </form>



            </ul>
        </div>
    </div>




    <div class="col">
        <div class="card ">
            <div class="card-body">
                <h2>Client Programs</h2>

                <form th:action="@{/coach_profile}" method="post">
                    <div class="form-group">
                        <label for="clientSelect"> Select a client</label>
                        <select class="form-control" style="text-align: center" id="clientSelect" name="clientId" onchange="showProgram(this.value)">

                            <option value="nochange" disabled="disabled" selected="selected" id="defaultOption">
                                clients
                            </option>

                            <div th:each="client : ${clients}"  >
                                <div>
                                <option th:value="${client.id}" th:text="${client.username} " th:id="${client.id}">
                                </option>
                                    <option style="display: none" th:value="${client.activeprogram}"> </option>
                                </div>
                            </div>

                        </select>
                    </div>


                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Assign a Program</label>
                        <select multiple="multiple" class="form-control" id="exampleFormControlSelect2"
                                style="text-align: center" name="progId">
                            <option value="nochange" disabled="disabled" selected="selected" id="programSelector">
                            </option>
                            <div th:each="program : ${programs}">
                                <option th:value="${program.id}" th:text="${program.name}"></option>
                            </div>
                            <div style="margin-left: 500px">
                                <input type="submit" value="assign program"/>
                            </div>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <div class="col">
        <div class="card">
            <div class="card-body">
                <h2>Client Progress</h2>
                <form th:action="@{/coachviewclient_progress}" method="post">
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Choose a Client</label>
                        <select multiple="multiple" class="form-control" id="exampleFormControlSelect2"
                                style="text-align: center" name="clientId">
                            <option value="nochange" disabled="disabled" selected="selected" id="defaultOption">
                            </option>
                            <div th:each="client : ${clients}">
                                <option th:value="${client.id}" th:text="${client.name}" name="clientId"></option>
                            </div>
                            <div style="margin-left: 500px">
                                <input type="submit" value="view progress"/>
                            </div>
                        </select>
                    </div>

                </form>
            </div>
            <div>
                <div>
                </div>
            </div>
        </div>
    </div>



<div th:replace="partials/footer :: footer"></div>

<script>
    "use strict";
    var id = document.getElementById("selector").value;

    var clientChoice = document.getElementById("clientSelect");


    function showProgram(id){
        console.log(id);
        console.log(document.getElementById(id).nextElementSibling);
        var choice = document.getElementById(id).nextElementSibling;
        Array.from(document.getElementsByClassName("showProg")).forEach(
            function (element, index, array) {
                console.log(element.nextElementSibling);
                var picker = element.nextElementSibling;
                console.log(choice.value);
                if (picker.value == choice.value){
                    picker.style.display = "block";
                } else {
                    picker.style.display = "none";
                }
            }
        );
    }

    function select(id) {
        if (id > 0) {
            document.getElementById("defaultOption").selected = "none";
            document.getElementById(id).selected = "selected";
        }
    }

    select(id);
</script>


</body>
</html>
