<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div class="container">
<nav th:fragment="profilenavbar">
        <h1 class="logo">IRON<span>MIND</span></h1>
        <nav class="site-nav">
            <ul>
                <li><a href="/client_login?logout">LOGOUT</a></li>
                <li>
                    <a href="/client_profile_page/create_program">CREATE PROGRAM</a>
                </li>
            </ul>
        </nav>
        <div class="menu-toggle">
            <div class="hamburger"></div>
        </div>
</nav>
</div>





</body>
</html>




