<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<nav th:fragment="profilenavbar" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 " href="#"><img src="/images/llogo.png" height="70" width="70"
                                                             class="pic"/></a>

    <ul class="navbar-nav px-3">

        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/client_login?logout">Sign out</a>
        </li>
    </ul>
</nav>

</body>
</html>




