<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div th:fragment="sidebar" class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <br/>

                <ul class="nav flex-column">
                    <li class="nav-item">
                    <li class="nav-item">
                        <a class="nav-link " href="#">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Workout Plans
                        </a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="book"></span>
                            Workout Log
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="activity"></span>
                            Your Progress
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="calendar"></span>
                            Schedule
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="user"></span>
                            Coach
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="settings"></span>
                            Edit Profile
                        </a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
    </div>
</body>
</html>