<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<body class="loginbody">

<div class="loginbox">
    <h1 class="logintitle">Login Here</h1>
    <form th:action="@{/client_login}" method="post">
        <p>Username</p>
        <input type="text" id="username" name="username" placeholder="Enter Username" />
        <p>Password</p>
        <input type="password" id="password" name="password" placeholder="Enter Password" />
        <input type="submit" value="Log in"/>
        <a href="/client_registration">Don't have an account?</a>
    </form>
</div>

<footer th:replace="partials/footer :: footer"/>
</body>
</html>