<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"/>
<body class="loginbody">

<div class="loginbox">
    <h1 class="logintitle">Login Here</h1>
    <form th:action="@{/client_login}" method="post">
        <p>Username</p>
        <input type="text" id="username" name="username" placeholder="Enter Username" />
        <p>Password</p>
        <input type="password" id="password" name="password" placeholder="Enter Password" />
        <input type="submit" value="Log in"/>
    </form>


</div>

<!--<h1 class="client_profile">Login</h1>-->

<!--<div class="container">-->
    <!--<h5 th:text="${error}"></h5>-->
    <!--<form th:action="@{/client_login}" method="post">-->
        <!--<input class="form-control" id="username" name="username" type="text" placeholder="Username"/>-->
        <!--<br/>-->
        <!--<input class="form-control" id="password" name="password" type="password" placeholder="Password"/>-->
        <!--<br/>-->
        <!--<input class="btn btn-primary" type="submit" value="Log In"/>-->
    <!--</form>-->
<!--</div>-->
<footer th:replace="partials/footer :: footer"/>
</body>
</html>