<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header" />

<body>
<div th:replace="partials/profilenavbar :: profilenavbar" />
<div th:replace="partials/sidebar :: sidebar" />
<input th:value="${selectId}" id="selector" type="hidden" />



<div class="container-fluid">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Progress Report</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <select name="Exercise" id="choice">
                        <option value="nochange" disabled="disabled" selected="selected">Statistic Type</option>
                        <option value="1">1 Rep Max</option>
                        <option value="2">Volume</option>
                        <option value="3">Total Reps</option>
                        <option value="4">Intensity</option>
                        <option value="5">Volume and Intensity</option>
                    </select>
                    <br/>
                    <form th:action="@{/client_progress/} + ${id}" method="post">
                        <select name="exerciseId" onchange="this.form.submit()">
                            <option value="nochange" disabled="disabled" selected="selected" id="defaultOption">
                                Exercises
                            </option>
                            <div th:each="exercise : ${exerciseList}">
                                <option th:text="${exercise.name}" th:value="${exercise.id}"
                                        th:id="${exercise.id}"></option>
                            </div>
                        </select>

                    </form>
                </div>

                </div>
<div id="chart_div" >
            <canvas class="my-4" id="myChart" width="900" height="380">

<div style="width: 100%; float: left">
       <div th:each="set : ${sets}">
           <input th:value="${set.day}" type="hidden" class="day"/>
           <input th:value="${set.estimated1RM}" type="hidden" />
           <input th:value="${set.totalweight}" type="hidden" />
           <input th:value="${set.reps}" type="hidden" />
           <input th:value="${set.intensity}" type="hidden" />
       </div>
</div>
            </canvas>
</div>
</main>
</div>

<script>
    "use strict";
    var id = document.getElementById("selector").value;

    function select(id) {
        if (id > 0) {
            document.getElementById("defaultOption").selected = "none";
            document.getElementById(id).selected = "selected";
        }
    }

    select(id);
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawTrendlines);

    function drawTrendlines() {

        var data = new google.visualization.DataTable();

        //day and one rep max
        data.addColumn('number', 'day');
        data.addColumn('number', 'ERM');
        data.addColumn('number', 'Volume');
        data.addColumn('number', 'Reps');
        data.addColumn('number', 'Intensity');

        data.addRows([
            [0, 0, 0, 0, 0]
        ]);

        Array.from(document.getElementsByClassName("day")).forEach(
            function (element, index, array) {
                var day = Number(element.value);
                console.log(element.value);

                var weight = Number(element.nextElementSibling.value);
                var volume = (Number(element.nextElementSibling.nextElementSibling.value)) / 100;
                var reps = Number(element.nextElementSibling.nextElementSibling.nextElementSibling.value);
                var intensity = Number(element.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.value);
                data.addRows([[day, weight, volume, reps, intensity]]);


            }
        );

        console.log(data);
        // data.addRows([
        //     [6,22]
        // ]);

        var options = {
            hAxis: {
                title: 'Day'
            },
            vAxis: {
                title: 'All Data'
            },
            colors: ['#AB0D06', '#007329'],
            trendlines: {
                0: {type: 'linear', color: '#333', opacity: .5},
                1: {type: 'linear', color: '#111', opacity: .3}
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        document.getElementById("choice").onchange = function () {
            if (document.getElementById("choice").value == 1) {
                console.log("clicked 1");
                var view = new google.visualization.DataView(data);
                options.vAxis.title = "Estimated 1 Rep Max (lbs)";

                view.hideColumns([2, 3, 4]);
                chart.draw(view, options);
            }
            if (document.getElementById("choice").value == 2) {
                view = new google.visualization.DataView(data);
                options.vAxis.title = "Total Weight Lifted";
                view.hideColumns([1, 3, 4]);
                chart.draw(view, options);

            }
            if (document.getElementById("choice").value == 3) {
                view = new google.visualization.DataView(data);
                options.vAxis.title = "Reps Completed";
                view.hideColumns([1, 2, 4]);
                chart.draw(view, options);
            }
            if (document.getElementById("choice").value == 4) {
                view = new google.visualization.DataView(data);
                options.vAxis.title = "Average Intensity";
                view.hideColumns([1, 2, 3]);
                chart.draw(view, options);
            }
            if (document.getElementById("choice").value == 5) {
                view = new google.visualization.DataView(data);
                options.vAxis.title = "Volume and Average Intensity";
                view.hideColumns([1, 3]);
                chart.draw(view, options);
            }
        };

        // chart.draw(data, options);
    }

</script>


<div th:replace="partials/footer :: footer"></div>


</body>
</html>