<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials/header :: header" />
<body>
<div th:replace="partials/profilenavbar :: profilenavbar"/>
<div th:replace="partials/sidebar :: sidebar"/>

<h1 class="client_profile">Greetings, <span th:text="${client.username}">!</span></h1>
<div class="container">

    <form class="form-group" th:action="@{/client_profile_page/create_program}" method="get">
        <button type="submit" class="btn btn-primary btn-block btn-md" id="createplan" name="createplan">Create a program</button>
    </form>

</div>
    <footer th:replace="partials/footer :: footer" />
</body>
</html>