<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header" />
<body>
<h1 class="client_profile">Register an account!</h1>
<div class="container">
    <form th:action="@{/client_registration}" method="POST" th:object="${client}">
        <input class="form-control" id="name" th:field="*{name}" placeholder="Name"/>
        <br />
        <input class="form-control" id="username" th:field="*{username}" placeholder="Username" />
        <br />
        <input class="form-control" id="email" th:field="*{email}" placeholder="Email"/>
        <br />
        <input class="form-control" id="phonenumber" th:field="*{phonenumber}" placeholder="Phone Number">
        <input class="form-control" id="password" type="password" th:field="*{password}" placeholder="Password"/>
        <br />
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>
</body>
</html>