<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header" />
<body class="editbody">

<div class="editbox">
    <h1 class="logintitle">Edit Page</h1>
    <form th:action="@{/client_profile_page/{id}/edit(id=${client.id})}" method="post" th:object="${client}">
        <p>Full Name</p>
        <input type="text" id="name" name="name" th:field="*{name}" />
        <p>Username</p>
        <input type="text" id="username" name="username" th:field="*{username}" />
        <p>Email</p>
        <input type="text" id="email" name="email" th:field="*{email}" />
        <p>Phone Number</p>
        <input type="text" id="phonenumber" name="phonenumber" th:field="*{phonenumber}" />
        <p>Password</p>
        <input type="password" id="password" th:field="*{password}" placeholder="**********"/>
        <input type="submit" value="Submit"/>
    </form>
</div>
<footer th:replace="partials/footer :: footer"/>
</body>
</html>