<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header" />
<body>
<div th:replace="partials/navbar :: navbar"></div>
<br/>
<br/>

<!--<div class="jumbotron">-->
    <!---->
    <!--<p class="lead">Track your workouts </p>-->
    <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>-->
<!--</div>-->



<div class="container">
    <a id="how-it-works"></a>
    <div class="how-it-works">
        <h1>Welcome to IronMind</h1>
        <p id="tagline">Become the strongest version of yourself</p>
        <br/>
        <div class="row">
            <div class="col-sm-6 col-xs-12 detail">
                <h4>
                    <span class="fa-stack fa-pencil-alt fa-md" style="color: goldenrod;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fas fa-pencil-alt fa-stack-1x fa-inverse"></i>
                    </span>Create Custom Workouts
                </h4>
                <p>You can create a workout from scratch or use one of our pre-made workout templates.</p>
            </div>
            <div class="col-sm-6 col-xs-12 detail">
                <h4>
                    <span class="fa-stack fa-chart-line fa-md" style="color: tomato;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
                    </span>Track your progress
                </h4>
                <p>See if your on track to a better body with our intuitive progress tracking features.</p>
            </div>
            <div class="col-sm-6 col-xs-12 detail">
                <h4>
                    <span class="fa-stack fa-calendar-alt fa-md" style="color: lawngreen;" >
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="far fa-calendar-alt fa-stack-1x fa-inverse"></i>
                    </span>Planning
                </h4>
                <p>Plan your workouts by the month and get notifications when its time to workout</p>
            </div>
            <div class="col-sm-6 col-xs-12 detail">
                <h4>
                    <span class="fa-stack fa-user-circle fa-md" style="color: cornflowerblue;">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="far fa-user-circle fa-stack-1x fa-inverse"></i>
                    </span> Hire a coach
                </h4>
                <p>Your coach works with you on a daily basis to keep you motivated and on track. They're your secret weapon to hit any goal, no matter what it is.</p>
            </div>
        </div>
    </div>
</div>


<div class="grid-container">
    <div class="coach card">
        <h2>Are you a coach?</h2>
        <p id="standards">See if you meet our standards.</p>
        <p><a class="btn btn-primary" href="#" role="button">Check Here &raquo;</a></p>
    </div>
    </div>








</body>
</html>
