<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/onboardheader :: header"/>

<body>

<div>

    <input checked="checked" id="one" name="multiples" type="radio" value="1" />
    <label for="one">Welcome</label>

    <input id="two" name="multiples" type="radio" value="2" />
    <label for="two">Bio</label>

    <input id="three" name="multiples" type="radio" value="3" />
    <label for="three"></label>

    <input id="four" name="multiples" type="radio" value="4" />
    <label for="four"></label>

    <input id="five" name="multiples" type="radio" value="5" />
    <label for="five">5</label>

    <input id="six" name="multiples" type="radio" value="6" />
    <label for="six">6</label>

    <input id="seven" name="multiples" type="radio" value="7" />
    <label for="seven">7</label>

    <input id="eight" name="multiples" type="radio" value="8" />
    <label for="eight">8</label>

    <div class="container">
        <div class="carousel">
            <div>
                <h3> Welcome to IronMind </h3>
                <h5> Features</h5>
                <ul>
                   <li>Expedite your gym time by creating a custom workout routine</li>
                    <li>Log your workouts and view your progress over time</li>
                    <li>Connect with experienced coaches for veteran guidance</li>
                </ul>
            </div>
            <div>
                <h3> Basic Information </h3>
                <form th:action="@{/client_update}" method="post" th:object="${client}">
                    <input type="text" th:value="${phonenumber}" th:field="*{phonenumber}" />
                    <input type="text" th:value="${email}" th:field="*{email}" />
                    <input type="submit" value="UPDATE" />
                </form>
            </div>
            <div>
                <h3> Tell Us About Yourself </h3>
                <form th:action="@{/client_bio}" method="post" th:object="${client}">
                    <textarea name="bio" rows="50" cols="50" th:value="${bio}" th:field="*{bio}"></textarea>
                    <input type="submit" value="UPDATE" />
                </form>
            </div>
            <div>
                <h3> Additional Information </h3>
                <form th:action="@{/client_info}" method="post" th:object="${client}">
                    <input type="text" th:value="${height}" th:field="*{height}" />
                    <input type="text" th:value="${weight}" th:field="*{weight}" />
                    <input type="radio" value="Male" />
                    <input type="radio" value="Female" />
                </form>
            </div>
            <div>
                <h3> Get Started </h3>
                <form th:action="@{/coach_list}" method="post">
                    <input type="submit" value="Find a coach for you today!" />
                </form>
                <form th:action="@{/client_profile_page/create_program}">
                    <input type="submit" value="Create your own custom program" />
                </form>
            </div>

        </div>
    </div>

</div>



<footer th:replace="partials/footer :: footer"/>
</body>
</html>
