<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<h1>Register an account!</h1>
<div class="container">
    <form th:action="{/register}" method="POST" th:object="${client}">
        <input class="form-control" id="name" th:field="*{name}" placeholder="Name"/>
        <input class="form-control" id="username" th:field="*{username}" />
        <input class="form-control" id="email" th:field="*{email}" />
        <input class="form-control" id="password" type="password" th:field="*{password}" />

        <h5>Optional</h5>

        <input class="form-control" id="height" th:field="*{height}" />
        <input class="form-control" id="weight" th:field="*{weight}" />
        <input class="form-control" id="sex" th:field="*{sex}" />
        <input class="form-control" id="bio" th:field="*{bio}" />
    </form>
</div>
</body>
</html>