<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header">
</head>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Planning</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>
        </main>
<input th:value="${dropId}" id="dropCheck" type="hidden"/>
<body class="plannerBody">
<!--<nav th:replace="partials/navbar::navbar"></nav>-->

<div id="calender" class="calenderModel" style="display: none">
    <div onclick="closeCalender()">Close!</div>
    <form th:action="@{/exercises/} + ${progId}" method="post">
        <div class="day" id="baseDay" th:each="day: ${days}">
            <input name="daychoice" type="submit" th:value="${day}" />
        </div>
    </form>
</div>

<div class="plannerContainer">
    <h1 class="dayHeader"><output th:text="${name}"></output></h1>
    <h3 class="dayHeader"> Workouts for day:  <output th:text ="${day}"></output></h3>
    <p onclick="myCalender()">Calendar</p>


    <div class="searchContainer" >
            <input type="text" placeholder="Search" id="searchEx" class="searchBar"/>
        <div class="scrollable">
             <div th:each="exercise : ${exercises}">
        <div class="setForm" draggable="true" ondragstart="drag(event)" th:id = "${exercise.name}">
            <div>
                <div class = "searchItem">
                    <h3 th:text="${exercise.name}"></h3>
                    <p th:text="${exercise.muscle}"></p>
                </div>
                <input th:value="*{exercise.name}" type="hidden" />
                <div style="display: none" >
                    <h3 th:text="${exercise.name}" class = "buildItem" ></h3>
                        <button onclick="dropdown(this.id)" id = "drop" style="float: left" class="dropBtn"></button>
                    <div class="buildDrop" style="display:none">
                        <ul>
                            <form th:action="@{/createplan/} + ${progId} + @{/} + ${day}" method = "post" th:object="${subSet}">
                                <input th:value="${exerciseName}" th:field="*{exerciseName}" type="hidden" />
                                <li>Weight: <input th:value="${weight}" th:field="*{weight}" type="text" /></li>
                                <li>Reps: <input th:value="${reps}" th:field="*{reps}" type="text" /></li>
                                <input type="submit" value=" " class="dropBtnCopy"/>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</div>

<div class="builder" id="builder" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div th:each="workSet :${workSets}">
        <h3 class = "buildItem" th:text="${workSet.exerciseName}"></h3>
            <button onclick="dropdown(this.id)" th:id="${workSet.id}"  class="dropBtn"></button>
        <div class="buildDrop" style="display:none" th:id="${workSet}">
            <ul th:each="subSet : ${workSet.subSets}">
                <form th:action="@{/editset/} + ${progId} + @{/} + ${day}" method = "post">
                    <input th:value="${workSet.id}" name = "id" type="hidden"/>
                    <input th:value="${subSet.id}" name = "setId" type="hidden" />
                    <li>Weight: <input th:value="${subSet.weight}" type="text" name = "weight" /></li>
                    <li>Reps: <input th:value="${subSet.reps}" type="text" name ="reps" /></li>
                    <input type="submit" value=" " class="dropBtnEdit" />
                </form>
                <form th:action="@{/deleteset/} + ${progId} + @{/} + ${day}" method="post">
                    <input th:value="${workSet.id}" name = "id" type="hidden"/>
                    <input th:value="${subSet.id}" name = "setId" type="hidden" />
                    <input type="submit" value=" " class="dropBtnDel" />
                </form>
                <form th:action="@{/copyset/} + ${progId} + @{/} + ${day}" method="post">
                    <input type="submit" value=" " class="dropBtnCopy"  />
                    <input th:value="${workSet.id}" name = "id" type="hidden"/>
                    <input th:value="${subSet.id}" name = "setId" type="hidden" />
                </form>
            </ul>
        </div>

    </div>

</div>
</div>








<script th:inline="javascript">
    "use strict";

    var data;
    var increment = 0;
    var name = "name";
    var dropId = document.getElementById("dropCheck").value;
    var subSet = document.getElementById("set1");
    var search = document.getElementById("searchEx");
    search.addEventListener("keyup", runSearch, false);

    function runSearch(){
        var search = document.getElementById("searchEx").value.toString();
        Array.from(document.getElementsByClassName("setForm")).forEach(
            function(element, index, array) {
                var string = element.id.toString();
                console.log(element.childNodes[1].childNodes[1]);
                console.log(element.childNodes[1].childNodes[1].childNodes[3]);
                var stringDos = element.childNodes[1].childNodes[1].childNodes[3].textContent.toString();

                console.log(string);
                if(string.toLowerCase().includes(search.toLowerCase())){
                    element.style.display = "block";
                } else if(stringDos.toLowerCase().includes(search.toLowerCase())) {
                    element.style.display = "block";
                }
                else {
                    element.style.display = "none";
                }
            }
        );
    }

    console.log(subSet);

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
        var copy = document.getElementById(data);
        increment++;
    }

    function drop(ev) {
        ev.preventDefault();
        if(document.getElementById("builder").innerHTML == "<h3>Drag an exercise over to begin</h3>"){
            document.getElementById("builder").innerHTML = "";
        }
        data = ev.dataTransfer.getData("text");
        var nodeCopy = document.getElementById(data).cloneNode(true);
        nodeCopy.id = "newId"; /* We cannot use the same ID */
        ev.target.appendChild(nodeCopy);

        //to hide the search header when moved
        var a = nodeCopy.childNodes[1].childNodes[1];
        a.style.display = "none";
        console.log(a);

        //to show the build header after move
        var b = nodeCopy.childNodes[1].childNodes[5];
        b.style.display = "inline-block";
        console.log(b);

        //to pull the exercise name
        var string = nodeCopy.childNodes[1].childNodes[3];
        console.log(string);

        var drop = b.childNodes[3];
        drop.id = "drop" + increment;
        console.log(drop);
        dropdown(drop.id);


        //to transfer name data
        var targetvalue = b.childNodes[5].childNodes[1].childNodes[1].childNodes[1];
        targetvalue.value = string.value;
        console.log(string.value);
        console.log(targetvalue);
    }

    function dropdown(id){
        if(document.getElementById(id).nextElementSibling.style.display == "none") {
            document.getElementById(id).nextElementSibling.style.display = "inline-block";
        }
        else{
            document.getElementById(id).nextElementSibling.style.display="none";
        }
    }

    function builderDisplay(builder){
        if(builder == 0){
            document.getElementById("builder").innerHTML = "<h3>Drag an exercise over to begin</h3>";
        }
    }

    function myCalender(){
        document.getElementById("calender").style.display = "block";
    }

    function closeCalender(){
        document.getElementById("calender").style.display = "none";
    }

    var builder = document.getElementById("builder").children.length;
    console.log(builder);
    var stickyDrop = document.getElementById("dropCheck").value;
    console.log(stickyDrop);
    builderDisplay(builder);

    dropdown(dropId);

</script>
</body>
</html>
