<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header" />



<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 " href="#"><img  src="/images/llogo.png" height="70" width="70" class="pic" /></a>

    <ul class="navbar-nav px-3">

        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<input th:value="${dropId}" id="dropCheck" type="hidden"/>
<body class="plannerBody" style="align-content: center">
<!--<nav th:replace="partials/navbar::navbar"></nav>-->

<div class="plannerContainer">
    <h1 class="dayHeader"><output th:text="${name}"></output></h1>
    <h3 class="dayHeader"> sets for day:  <output th:text ="${day}"></output></h3>
    <div class="builder" id="builder" ondrop="drop(event)" ondragover="allowDrop(event)">
        <h3 class = "buildItem" th:text="${done}" style="display: none" id="state"></h3>
        <div th:each="workSet :${workSets}">
            <h3 class = "buildItem" th:text="${workSet.exerciseName}"></h3>
            <button onclick="dropdown(this.id)" th:id="${workSet.id}"  class="dropBtn"></button>
            <div class="buildDrop" style="display:none" th:id="${workSet}">
                <ul th:each="subSet : ${workSet.subSets}">


                    <form th:action="@{/logset/} + ${name} + @{/} + ${day}" method = "post">
                        <input th:value="${workSet.id}" name = "id" type="hidden"/>
                        <input th:value="${subSet.id}" name = "setId" type="hidden" />
                        <li>Weight: <output th:text="${subSet.weight}"></output></li>
                        <li>Reps: <output th:text="${subSet.reps}"></output></li>
                        <input type="submit" value=" " class="dropBtnCpy" />
                    </form>



                    <!--<form th:action="@{/deleteset/} + ${name} + @{/} + ${day}" method="post">-->
                        <!--<input th:value="${workSet.id}" name = "id" type="hidden"/>-->
                        <!--<input th:value="${subSet.id}" name = "setId" type="hidden" />-->
                        <!--<input type="submit" value=" " class="dropBtnDel" />-->
                    <!--</form>-->




                </ul>
            </div>

        </div>
    </div>
</div>


</body>

<script>
    "use strict";

    var stickyDrop = document.getElementById("dropCheck").value;

    function dropdown(id){
        console.log(id);
        console.log(document.getElementById(id));
        if(document.getElementById(id).nextElementSibling.style.display == "none") {
            document.getElementById(id).nextElementSibling.style.display = "inline-block";
        }
        else{
            document.getElementById(id).nextElementSibling.style.display="none";
        }
    }

    function showState(state){
        console.log(state);
        var text = state.innerText.toString();
        console.log(text);
        if(text.includes("finished")){
            state.style.display = "block";
            state.style.backgroundColor = "gold";
            state.style.width = "448px";
        }
    }
    var state = document.getElementById("state");
    var stickyDrop = document.getElementById("dropCheck").value;

    dropdown(stickyDrop);
    document.onload(showState(state));

    document.onload(dropdown(stickyDrop));
</script>
</html>